<!DOCTYPE html>
<html>

<head>
  <title>Food</title>
</head>
<body>
  {% extends "navigation.html" %}
  {% block content %}
  {% if recipe is defined %}
    <h2>{{ recipe.title }}</h2>
    <div class="row" style="text-align: center; margin: 30px 0;">
      <img src="{{ recipe.image }}" alt="{{recipe.title}}">
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4 class="card-title">Ingredient List</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Ingredient</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for l in recipe.extendedIngredients %}
            <tr>
              <th scope="row">{{ l.originalName|capitalize }}</th>
              <td>{{l.amount|round|int if l.amount.is_integer() else l.amount }} {{l.unit}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h4 class="card-title">Directions</h4>
        <br>
        <p>{{ recipe.instructions }}</p>
      </div>
    </div>
    {% else %}
    <h1>Please navigate to Find Recipe to search for a recipe</h1>
    {% endif %}
    {% endblock %}
</body>

</html>