<!DOCTYPE html>
<html>

<head>
  <title>Food</title>
</head>
<body>
  {% extends "navigation.html" %}
  {% block content %}
    <div class="row">
      <div class="col-md-6">
        <h4 class="card-title">Ingredient List</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Ingredient</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Chicken</th>
              <td>2 Breasts</td>
            </tr>
            <tr>
              <th scope="row">Rice</th>
              <td>2 Cups</td>
            </tr>
            <tr>
              <th scope="row">Shrimp</th>
              <td>1/2 Pount</td>
            </tr>
            <tr>
              <th scope="row">Crab Legs</th>
              <td>1/2 Pound</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h4 class="card-title">Directions</h4>
        <br>
        <ul style="text-align: left;">
          <li>Bread Chicken</li>
          <li>Cook Chicken</li>
          <li>Make Sauce</li>
          <li>Cook Shrimp and Crab</li>
          <li>Cook Rice</li>
        </ul>
      </div>
    </div>
    <div class="row">

    </div>
      <!-- <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </div> -->


      <div class="footer">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>&copy; Songware Whispers 2020</p>
      </div>
    </div>
    {% endblock %}

    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/bootstrap-select.min.js"></script>
</body>

</html>