<!DOCTYPE html>
<html>
  <head>
    <title>Food</title>
  </head>
  <body>
    {% extends "navigation.html" %}
    {% block content %}
    <form action="{{ url_for('results') }}" method="post">
      <div class="jumbotron">
        <h1>Let's narrow it down!</h1>
        <p class="lead">Choose your bases to get started</p>
        <input class="btn btn-large btn-success" type="submit">
        <!--<a class="btn btn-large btn-success" href="#">Submit</a>-->
      </div>
      <div style="text-align: center;" class="row">
        <div class="col-md-4">
          <h4>Dairy</h4>
          <select class="selectpicker" name="dairy" multiple data-size="5">
            {% for dairy in ingredients.dairy %}
            <option name={{dairy.name}}>{{dairy.name.capitalize()}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-4">
          <h4>Produce</h4>
          <select class="selectpicker" name="produce" multiple data-size="5">
            {% for produce in ingredients.produce %}
            <option name={{produce.name}}>{{produce.name.capitalize()}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-4">
          <h4>Meat</h4>
          <select class="selectpicker" name="meat" multiple data-size="5">
            {% for meat in ingredients.meat %}
            <option name={{meat.name}}>{{meat.name.capitalize()}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-4">
          <h4>Grain</h4>
          <select class="selectpicker" name="grain" multiple data-size="5">
            {% for grain in ingredients.produce %}
            <option name={{grain.name}}>{{grain.name.capitalize()}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-md-4">
          <h4>Spice</h4>
          <select class="selectpicker" name="spice" multiple data-size="5">
            {% for spice in ingredients.produce %}
            <option name={{spice.name}}>{{spice.name.capitalize()}}</option>
            {% endfor %}
          </select>
        </div>
    </form>

    <div class="footer">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p>&copy; Songware Whispers 2020</p>
    </div>
    {% endblock %}
    </body>
</html>